name: 'Update schedule'

on:
    schedule:
        - cron: '30 0,2,4,6,8,10,12,14,16,18,20,22 * * *'
    workflow_dispatch:
    push:
        branches:
            - main
jobs:
    push:
        runs-on: ${{ matrix.operating-system }}
        timeout-minutes: 240
        strategy:
            matrix:
                operating-system: [ 'ubuntu-latest' ]
        steps:
            - uses: actions/checkout@v3
            - name: Mirror the gitee organization repos to Github.
              run: |
                git clone -b release https://github.com/mytv-android/myMIGU.git
                cp  myMIGU/* .
                rm -rf myMIGU
                mv migu_github.m3u migu.m3u
                rm migu_gitee.m3u
                git config user.name "GitHub Action"
                git config user.email "actions@github.com"
                git add .
                git reset --soft $(git rev-list --max-parents=0 HEAD)
                git commit --amend -m "Github Action Auto Updated"
                git push --force
